<div fxLayout="column" fxLayoutAlign="space-between stretch">
    <h1 class="admin-header" fxFlexAlign.lt-md="center" fxFlexAlign.lt-xl="end">Настроить местоположение компании</h1>
    <div *ngIf="(loading$ | async) && ((error$ | async) == null)" fxLayoutAlign="center center" class="p-40">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="(loading$ | async) == false" class="map-settings">
        <ya-map [zoom]="12" [center]="[(location$| async).lat, (location$| async).lng]" (yaclick)="leftClick($event)">
            <ya-placemark [geometry]="[(location$| async).lat , (location$| async).lng]"></ya-placemark>
        </ya-map>
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()" class="mat-elevation-z8 p-20" fxLayout="column">
        <mat-form-field appearance="outline">
            <mat-label>Lat</mat-label>
            <input matInput formControlName="lat" autocomplete="off">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Lng</mat-label>
            <input matInput formControlName="lng" autocomplete="off">
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="center center" >
            <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Добавить/Обновить</button>
        </div>
    </form>
</div>