<mat-toolbar *ngIf="isAuthenicated()" color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
        </button>
        <span class="logo" (click)="goHome()">AgroComplex</span>
        <span class="menu-spacer"></span>
        <div class="main-menu" fxShow="true" fxHide.lt-md>
            <a mat-button [routerLink]="['/admin','dashboard']" routerLinkActive="router-link-active-2">Продукты</a>
            <a mat-button [routerLink]="['/admin','add-product']" routerLinkActive="router-link-active-2">Продукт</a>
            <a mat-button [routerLink]="['/admin','add-product-name']" routerLinkActive="router-link-active-2">Имя
                продукта</a>
            <a mat-button [routerLink]="['/admin','add-column-type']" routerLinkActive="router-link-active-2">Тип
                таблицы</a>
            <a mat-button [routerLink]="['/admin','add-product-type']" routerLinkActive="router-link-active-2">Вид
                продукции</a>
        </div>
        <a mat-icon-button [routerLink]="['/admin', 'add-location']" routerLinkActive="router-link-active-2">
            <mat-icon>location_on</mat-icon>
        </a>
        <a mat-icon-button [routerLink]="['/admin', 'log']" routerLinkActive="router-link-active-2">
            <mat-icon>error</mat-icon>
        </a>
        <button mat-icon-button (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item (click)="sidenav.toggle()" [routerLink]="['/admin','dashboard']"
                routerLinkActive="router-link-active">Продукты</a>
            <a mat-list-item (click)="sidenav.toggle()" [routerLink]="['/admin','add-product']"
                routerLinkActive="router-link-active">Продукт</a>
            <a mat-list-item (click)="sidenav.toggle()" [routerLink]="['/admin','add-product-name']"
                routerLinkActive="router-link-active"> Имя продукта</a>
            <a mat-list-item (click)="sidenav.toggle()" [routerLink]="['/admin','add-column-type']"
                routerLinkActive="router-link-active">Тип таблицы</a>
            <a mat-list-item (click)="sidenav.toggle()" [routerLink]="['/admin','add-product-type']"
                routerLinkActive="router-link-active">Вид продукции</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="admin-container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-loader></app-loader>