.logo {
  cursor: pointer;
  margin-left: 10px;
}

  mat-sidenav-container {
    height: calc(100% - 65px);
  }

  .admin-container {
    margin: 1rem;
  }

  .main-menu > a {
      margin: 0 5px;
  }