<div fxLayout="column" fxLayoutGap="40px" class="terms">
    <h1 fxFlexAlign="center" class="mat-display-2">Условия сотрудничества</h1>
    <div class="terms-block" fxLayout="row wrap" fxLayoutAlign="space-around center">
        <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
            <span class="material-icons">
                thumb_up
            </span>
            <span>Текст</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
            <span class="material-icons">
                trending_up
            </span>
            <span>Текст</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
            <span class="material-icons">
                verified
            </span>
            <span>Текст</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
            <span class="material-icons">
                wysiwyg
            </span>
            <span>Текст</span>
        </div>
    </div>
</div>