<div class="main-container" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="40px" fxFlex.lt-md="90%" fxFlex.lt-xl="70%">
    <mat-card class="mat-elevation-z8" fxLayout="column">
        <p fxFlexAlign="center" class="mat-display-1">О КОМПАНИИ</p>
        <p>Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
            ст Текств Текс тТекст Текст Текст Текст Текст
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
    
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
            ст Текств Текс тТекст Текст Текст Текст Текст
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
    
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
            ст Текств Текс тТекст Текст Текст Текст Текст
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
    
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
            Текст Текст Текст Текст Текств Текс тТекст Текст Текст Текст Текст
        </p>
    </mat-card>
    
    <app-terms></app-terms>
</div>
