<div class="main-container" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="40px"
    fxFlex.lt-md="90%" fxFlex.lt-xl="70%">
    <h1 fxFlexAlign="center" class="mat-display-2">КАТАЛОГ ПРОДУКЦИИ НА {{getFullYear()}}</h1>

    <ng-container *ngIf="((error$ | async) == null) && (loading$ | async) === false">
        <div *ngFor="let product of product$ | async" fxLayout="column" fxLayoutGap="40px">
            <mat-card class="mat-elevation-z8">
                <h1 class="mb-0">{{ product.typeName }}</h1>
            </mat-card>
            <div fxLayout="row wrap" fxLayoutAlign="space-around center">
                <div class="p-10" *ngFor="let item of product.items">
                    <app-product-card [name]="item.name" [typeName]="product.typeName" [productId]="item.id">
                    </app-product-card>
                </div>
            </div>
        </div>

        <div *ngIf="(product$ | async) == null" fxLayoutAlign="center center">
            Продукция отсутствует. Приносим свои извинения!
        </div>
    </ng-container>

    <ng-container *ngIf="((error$ | async) != null) && (loading$ | async) === false">
        <div fxLayoutAlign="center center">
            Произошла ошибка! Свяжитусь с нами!
        </div>
    </ng-container>

    <ng-container *ngIf="(loading$ | async) && ((error$ | async) == null)">
        <div fxLayoutAlign="center center">
            <mat-spinner></mat-spinner>
        </div>
    </ng-container>

    <app-terms></app-terms>
</div>