<div fxLayout="column" fxFlexFill fxLayoutAlign="space-between stretch" fxLayoutGap="20px">
    <span class="logo">AGRO_OMPLEX</span>

    <div fxLayout="column" fxLayoutGap="20px">
        <span fxLayoutAlign="start center" fxLayoutGap="10px">
            <mat-icon>phone</mat-icon>
            <span>8 800 555 79 88</span>
        </span>
        <span fxLayoutAlign="start center" fxLayoutGap="10px">
            <mat-icon>location_on</mat-icon>
            <span>2903 Avenue Z, Brooklyn, NY, USA</span>
        </span>
        <span fxLayoutAlign="start center" fxLayoutGap="10px">
            <mat-icon>mail_outline</mat-icon>
            <span>darutyunyan95@mail.ru</span>
        </span>
    </div>
    <div fxLayout="row" class="social" fxLayoutGap="30px">
        <a href="https://instagram.com/autovikuprus.ru?igshid=1ijtabxir4uxs" class="fa fa-instagram"
            target="_blank"></a>
        <a href="https://wa.me/79383000735" class="fa fa-whatsapp" target="_blank"></a>
        <a href="tg://resolve?domain=autovikuprus" class="fa fa-telegram" target="_blank"></a>
    </div>
</div>