<ng-container *ngIf="!(loading$ | async); else loader">
    <h1>Виты продукции</h1>
    <mat-nav-list *ngFor="let product of products$ | async">
        <div mat-subheader>{{product.name}}</div>
        <a *ngFor="let item of product.productNames" [routerLink]="['/products', item._id]" mat-list-item  routerLinkActive="router-link-active">
            {{item.name}}
        </a>
    </mat-nav-list>
</ng-container>

<ng-template #loader>
    <div fxFlexFill fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>