<h1>Виты продукции</h1>
<ng-container *ngIf="(loading$ | async) === false; else loader">
    <mat-nav-list *ngFor="let product of products$ | async">
        <div mat-subheader>{{product.typeName.toUpperCase()}}</div>
        <a mat-list-item [routerLink]="['/products', item.id]" routerLinkActive="router-link-active"  *ngFor="let item of product.items">
            {{item.name}}
        </a>
    </mat-nav-list>
</ng-container>

<ng-template #loader>
    <div fxFlexFill fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>